In [2]:
# Import dependencies
import pandas as pd

In [10]:
# Read data into dataframe
vine_df = pd.read_csv('Data/vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [12]:
# Create dataframe of reviews with 20+ votes
reviewed_df = vine_df[vine_df['total_votes'] >= 20]

In [13]:
# Only keep reviews that were helpful (50%+ of votes found the review helpful)
helpful_reviews_df = reviewed_df[reviewed_df['helpful_votes'] / reviewed_df['total_votes'] >= .5 ]

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [18]:
# Find which reviews were written as part of the Vine program (paid)
vine_paid_df = helpful_reviews_df[helpful_reviews_df['vine'] == 'Y']

In [19]:
# Find which reviews were NOT written as a part of the Vine program (unpaid)
vine_unpaid_df = helpful_reviews_df[helpful_reviews_df['vine'] == 'N']

In [26]:
## Comparing the paid program and unpaid reviews

# Paid Program
paid_count = len(vine_paid_df)
paid_star_count = len(vine_paid_df[vine_paid_df['star_rating'] == 5])
paid_star_percent = paid_star_count / paid_count

# Unpaid Reviews
unpaid_count = len(vine_unpaid_df)
unpaid_star_count = len(vine_unpaid_df[vine_unpaid_df['star_rating'] == 5])
unpaid_star_percent = unpaid_star_count / unpaid_count

print(
    f'PAID:\n'
    f'Number of Reviews: {paid_count}\n'
    f'Number of 5-Star Reviews: {paid_star_count}\n'
    f'Percent of 5-Star Reviews: {round(paid_star_percent, 3) * 100}%\n\n'
    f'UNPAID:\n'
    f'Number of Reviews: {unpaid_star_count}\n'
    f'Number of 5-Star Reviews: {unpaid_star_count}\n'
    f'Percent of 5-Star Reviews: {round(unpaid_star_percent, 3) * 100}%\n'
    )

PAID:
Number of Reviews: 94
Number of 5-Star Reviews: 48
Percent of 5-Star Reviews: 51.1%

UNPAID:
Number of Reviews: 15663
Number of 5-Star Reviews: 15663
Percent of 5-Star Reviews: 38.7%